@import '../../style/fonts';
@import '../../style/colors';

.converter {
    height: calc(100vh - 172px);
    background-color: $background;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__instructions * {
        margin-top: 20px;
        color: $text;
    }

    &__input {
        width: 300px;
        margin-top: 5vh;
        padding: 20px;
        display: flex;
        outline: 6px solid #fff;
        border-radius: 20px;
        
        .input {
            
            &__hour {
                width: 100%;
                border-radius: 10px;
                border: none;
            }
            
            &__minute {
                width: 100%;
                border-radius: 10px;
                border: none;
            }
        }
    }

    &__input * {        
        font-size: 3rem;
        text-align: center;
        margin: 10px;
    }

    &__input p {
        color: #fff;
    }

    &__result {
        .result {
            &__text {
                font-size: 3rem;
                font-family: $poppins;
                color: $result;
                margin-top: 5vh;
            }
        }
    }
}

@media (max-width: 780px) {
    .converter {
        .result__text {
            font-size: 2rem;
        }
    }
}

@media (max-width: 500px) {
    .converter {
        .result__text {
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 400px) {
    .converter {
        .result__text {
            font-size: 1.2rem;
        }
    }
}