@import '../../style/fonts';

.converter {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__input {
        width: 80vw;
        padding: 20px;
        display: flex;
        outline: 2px solid grey;
        border-radius: 20px;

        &:first-child {
            font-size: 6rem;
            text-align: center;
            margin: 10px;
        }
        
        .input {
            
            &__hour {
                width: 100%;
                font-size: 6rem; 
                text-align: center;
                margin: 10px;
            }
            
            &__minute {
                width: 100%;
                text-align: center;
                font-size: 6rem; 
                margin: 10px;
            }
        }
    }

    &__result {
        .result {
            &__text {
                font-size: 3rem;
                font-family: $poppins;
            }
        }
    }
}