@import './style/colors';

body {
  background-color: $header-background;
}

.App {
    text-align: center;

  &__header {    
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  &__title {
    color: $header;

  }
}

  