.App {

    text-align: center;

  &__header {    

    background-color: #812424;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  &__title {
    color: rgb(255, 209, 148);

  }
}

  